.error{
	color:red;
	border-color: red;
}
.mendetory{
	color:red;
}

.term{
	color:red;
}
.taken{
	width: 50% !important; 
	float:left;
}
.testimonial_home{
	margin-top: -8% !important;	
}
.content_home{
	margin-top: -5% !important;
}
.video_company{
	margin-top: -6% !important;
}
.counter_infrastructure{
	margin-top: -11% !important;
}
.slider_infrastructure{
	margin-top: -5% !important;
}
.multi_image_life_at{
	margin-top: -9% !important;
}
.Challenge_sub_product{
	margin-top: -6% !important;
}
.message_contact{
	margin-top: -6% !important;
}
.contact_location{
	padding-top: 0px;
}
.about_sidebar1{
	display: none;
}
.technology_sidebar1{
	display: none;
}
.infrastructure_sidebar1{
	display: none;
}
.life_at_sidebar1{
	display: none;	
}
.about_team1{
	display: none;
}
.appraciation_sidebar1{
	display: none;	
}
.plants_products{
	display: none;	
}
.plant_com_image{
	height: 115px;
}
.career_image{
	padding-bottom: 100px;
}
.sub_product_image{
	padding-bottom: 100px;	
}
.ups_image{
	padding-bottom: 100px;		
}
.infra_in_touch{
	margin-top: -13%;
	margin-bottom: 30px;
}
.infra_message{
	height: 106px;
	width: 100%;
}
@media only screen and (max-width: 767px)
.section-space--inner--120 {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 320px){
	.technology_sidebar1{
		margin-top: -50% !important;
	}
	.life_at_sidebar1{
		margin-top: -50% !important;	
	}
}	
@media only screen and (max-width: 360px){
	.home_button{
		margin-bottom: 10px !important;
	}
	.other_text{
		margin-top: 37px;
	}
	.about_team{
		display: none;
	}
	.about_team1{
		display: block !important;
	}
	.about_content{
		margin-top: 10px;
	}
	.about_sidebar{
		display: none;
	}
	.about_sidebar1{
		display: block !important;
	}
	.about_sidebar1{
		margin-top: -28%;
	}
	.technology_sidebar{
		display: none;
	}
	.technology_sidebar1{
		display: block !important;
	}    
	.technology_sidebar1{
		margin-top: -38%;
	}
	.infrastructure_sidebar{
		display: none;
	}
	.infrastructure_sidebar1{
		display: block !important;
	}
	.infrastructure_sidebar1{
		margin-top: -26%;
	}
	.life_at_sidebar{
		display: none;
	}
	.life_at_sidebar1{
		display: block !important;
	}
	.life_at_sidebar1{
		margin-top: -38%;
	}
	.plants_products{
		display: block !important;
	}
	.plant_com_image{
		height: 69px;
	}
	.appraciation_sidebar{
		display: none;
	}
	.appraciation_sidebar1{
		display: block !important;
	}
}
@media only screen and (max-width: 411px){
	.home_button{
		margin-bottom: 10px !important;
	}
	.other_text{
		margin-top: 37px;
	}
	.about_team{
		display: none;
	}
	.about_team1{
		display: block !important;
	}
	.about_content{
		margin-top: 10px;
	}
	.about_sidebar{
		display: none;
	}
	.about_sidebar1{
		display: block !important;
	}
	.about_sidebar1{
		margin-top: -28%;
	}
	.technology_sidebar{
		display: none;
	}
	.technology_sidebar1{
		display: block !important;
	}    
	.technology_sidebar1{
		margin-top: -38%;
	}
	.infrastructure_sidebar{
		display: none;
	}
	.infrastructure_sidebar1{
		display: block !important;
	}
	.infrastructure_sidebar1{
		margin-top: -26%;
	}
	.life_at_sidebar{
		display: none;
	}
	.life_at_sidebar1{
		display: block !important;
	}
	.life_at_sidebar1{
		margin-top: -38%;
	}
	.plants_products{
		display: block !important;
	}
	.plant_com_image{
		height: 69px;
	}
	.appraciation_sidebar{
		display: none;
	}
	.appraciation_sidebar1{
		display: block !important;
	}
}
@media only screen and (max-width: 414px){
	.home_button{
		margin-bottom: 10px !important;
	}
	.other_text{
		margin-top: 37px;
	}
	.about_team{
		display: none;
	}
	.about_team1{
		display: block !important;
	}
	.about_content{
		margin-top: 10px;
	}
	.about_sidebar{
		display: none;
	}
	.about_sidebar1{
		display: block !important;
	}
	.about_sidebar1{
		margin-top: -28%;
	}
	.technology_sidebar{
		display: none;
	}
	.technology_sidebar1{
		display: block !important;
	}    
	.technology_sidebar1{
		margin-top: -38%;
	}
	.infrastructure_sidebar{
		display: none;
	}
	.infrastructure_sidebar1{
		display: block !important;
	}
	.infrastructure_sidebar1{
		margin-top: -26%;
	}
	.life_at_sidebar{
		display: none;
	}
	.life_at_sidebar1{
		display: block !important;
	}
	.life_at_sidebar1{
		margin-top: -38%;
	}
	.plants_products{
		display: block !important;
	}
	.plant_com_image{
		height: 69px;
	}
	.appraciation_sidebar{
		display: none;
	}
	.appraciation_sidebar1{
		display: block !important;
	}
}
@media only screen and (max-width: 768px){
	.home_button{
		margin-bottom: 10px !important;
	}
	.about_sidebar{
		display: none;
	}
	.about_sidebar1{
		display: block !important;
	}
	.about_sidebar1{
		margin-top: -21%;
	}
	.technology_sidebar{
		display: none;
	}
	.technology_sidebar1{
		display: block !important;
	}    
	.technology_sidebar1{
		margin-top: -29%;
	}
	.infrastructure_sidebar{
		display: none;
	}
	.infrastructure_sidebar1{
		display: block !important;
	}
	.infrastructure_sidebar1{
		margin-top: -21%;
	}
	.life_at_sidebar{
		display: none;
	}
	.life_at_sidebar1{
		display: block !important;
	}
	.life_at_sidebar1{
		margin-top: -28%;
	}
	.plants_products{
		display: block !important;
	}
	.appraciation_sidebar{
		display: none;
	}
	.appraciation_sidebar1{
		display: block !important;
	}
}


@media only screen and (max-width: 360px){
	.product_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 411px){
	.product_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 414px){
	.product_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 768px){
	.product_button{
		margin-bottom: 10px !important;
	}
}

@media only screen and (max-width: 360px){
	.sub_product_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 411px){
	.sub_product_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 414px){
	.sub_product_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 768px){
	.sub_product_button{
		margin-bottom: 10px !important;
	}
}

@media only screen and (max-width: 360px){
	.project_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 411px){
	.project_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 414px){
	.project_button{
		margin-bottom: 10px !important;
	}
}
@media only screen and (max-width: 768px){
	.project_button{
		margin-bottom: 10px !important;
	}
}

